.NavButton {
  display: flex;
  padding: 15px;
  margin-top: 20px;
}

.NavButton .button {
  text-decoration: none;
  color: #ffbbec;
  text-shadow: -0.5px 0 rgb(115, 156, 172), 0 0.5px rgb(115, 156, 172),
    0.5px 0 rgb(115, 156, 172), 0 -0.5px rgb(115, 156, 172);
}

.button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffbbec;
  transition: width 0.3s;
  margin-top: 10px;
}

.button:hover::after {
  width: 100%;
  margin-top: 10px;
  /* transition: width .3s; */
}
